@model IEnumerable<Easy.Register.Application.Models.Profile.SelectResponseModel>
@{
    ViewBag.Title = "配置文件列表";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            配置文件列表
        </h1>
        <ol class="breadcrumb">
            <li><a href="\"><i class="fa fa-th"></i> Home</a></li>
            <li class="active">配置文件列表</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header" style="height:45px">
                        <div class="box-tools">
                            <div class="input-group" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control input-sm pull-right" placeholder="Search">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tr>
                                <th>应用程序名称</th>
                                <th>配置文件名称</th>
                                <th>配置文件类型</th>
                                <th>创建时间</th>
                                <th>最后修改时间</th>
                                <th>操作</th>
                            </tr>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.ApplicationName</td>
                                    <td>@item.ProfileName</td>
                                    <td>@item.ContentType</td>
                                    <td>@item.CreateDate</td>
                                    <td>@item.LastUpdate</td>
                                    <td><a href="/Profile/Edit?id=@item.Id">编辑</a></td>
                                </tr>
                            }
                        </table>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
        </div>
    </section><!-- /.content -->
</div>


