@model System.Collections.Generic.IEnumerable<Easy.Register.Application.Models.Node.Node>
@{
    ViewBag.Title = "提供者列表";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            提供者节点列表
        </h1>
        <ol class="breadcrumb">
            <li><a href="\"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">提供者节点列表</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <button type="button" class="btn btn-default btnOnLine">上线</button>
                        <button type="button" class="btn btn-default btnOffLine">下线</button>
                        <button type="button" class="btn btn-default btnDoubleWeight">倍权</button>
                        <button type="button" class="btn btn-default btnHalfWeight">半权</button>
                        <div class="box-tools">
                            <div class="input-group">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default dropdown-toggle" aria-expanded="false" type="button" data-toggle="dropdown"><span id="selectedSearchType" type="1">名称</span> <span class="fa fa-caret-down"></span></button>
                                        <ul class="dropdown-menu" id="selectedTypeList">
                                            <li><a type="1" href="javascript:void(0)">服务名称</a></li>
                                            <li><a type="2" href="javascript:void(0)">URL</a></li>
                                            <li><a type="3" href="javascript:void(0)">IP</a></li>
                                        </ul>
                                    </div><!-- /btn-group -->
                                    <input class="form-control" type="text">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">Go</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tr>
                                <th><input class="onAllCb" type="checkbox" /></th>
                                <th>名称</th>
                                <th>Url</th>
                                <th>IP地址</th>
                                <th>是否在线</th>
                                <th>权重</th>
                                <th>描述</th>
                                <th>操作</th>
                            </tr>
                            @if (Model != null && Model.Any())
                            {
                                foreach (var m in Model)
                                {
                                    <tr>
                                        <td>
                                            <input class="onCb" type="checkbox" id="@m.Id" />
                                        </td>
                                        <td>
                                            @m.ProviderName
                                        </td>
                                        <td>
                                            @m.Url
                                        </td>
                                        <td>
                                            @m.Ip
                                        </td>
                                        <td>
                                            @(m.IsAvailable ? "是" : "否")
                                        </td>
                                        <td>
                                            @m.Weight
                                        </td>
                                        <td>
                                            @m.Description
                                        </td>
                                        <td>
                                            <a class="btn btn-block btn-default" href="/Provider/Update?nodeId=@m.Id">编辑</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </table>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
        </div>
    </section><!-- /.content -->
</div>
@{ 
    Html.RenderPartial("OkDialog");
}
<script>
    $(function () {
        $("#selectedTypeList li").click(function () {
            var text = $(this).text();
            var type = $(this).children("a").attr("type");
            $("#selectedSearchType").text(text).attr("type", type);
        });

        $('.onAllCb').bind('change', function () {
            var ele = $('.onCb');
            if ($(this).is(':checked')) {
                $('.onCb').parent().parent().addClass('info');
                ele.each(function (i) {
                    ele[i].checked = true;
                });

            } else {
                $('.onCb').parent().parent().removeClass('info');
                ele.each(function (i) {
                    ele[i].checked = false;
                });
            }
        });
        $('.onCb').bind('click', function () {
            if ($(this).is(':checked')) {
                $(this).parent().parent().addClass('info');
            } else {
                $(this).parent().parent().removeClass('info');
            }
        });
        $('.btnOnLine').bind('click', function () {
            var ids = new Array();
            $('.onCb:checked').each(function (i) {
                ids[i] = $(this).attr('id');
            });
            $.post("/Provider/OnOffLine/", { id: ids, selected: 1 }, function (data) {
                $("#OkDialog").css("display", "block");
            });

        });
        $('.btnOffLine').bind('click', function () {
            var ids = new Array();
            $('.onCb:checked').each(function (i) {
                ids[i] = $(this).attr('id');
            });
            $.post("/Provider/OnOffLine/", { id: ids, selected: 2 }, function (data) {
                $("#OkDialog").css("display", "block");
            });

        });

        $(".btnDoubleWeight").bind("click", function () {
            var ids = new Array();
            $('.onCb:checked').each(function (i) {
                ids[i] = $(this).attr('id');
            });
            $.post("/Provider/SetWeight/", { id: ids, isDouble: true }, function (data) {
                $("#OkDialog").css("display", "block");
            });

        });
        $(".btnHalfWeight").bind("click", function () {
            var ids = new Array();
            $('.onCb:checked').each(function (i) {
                ids[i] = $(this).attr('id');
            });
            $.post("/Provider/SetWeight/", { id: ids, isDouble: false }, function (data) {
                $("#OkDialog").css("display", "block");
            });
        });
    });
</script>
