@model System.Collections.Generic.IEnumerable<Easy.Register.Application.Models.Node.Node>
@{
    ViewBag.Title = "提供者列表";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            提供者列表
            <small>（名称，描述）</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="\"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">提供者列表</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">提供者列表</h3>
                        <button type="button" class="btn btn-success btnOnLine">上线</button>
                        <button type="button" class="btn btn-danger btnOffLine">下线</button>
                        <div class="box-tools">
                            <div class="input-group" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control input-sm pull-right" placeholder="Search">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tr>
                                <th><input class="onAllCb" type="checkbox" /></th>
                                <th>Provider Name</th>
                                <th>Url</th>
                                <th>IP</th>
                                <th>IsAvailable</th>
                                <th>Weight</th>
                                <th>Description</th>
                            </tr>
                            @if (Model != null && Model.Any())
                            {
                                foreach (var m in Model)
                                {
                                    string isSelect1 = "";
                                    string isSelect2 = "";
                                    string sColor = "";
                                    <tr>
                                        <td>
                                            <input class="onCb" type="checkbox" id="@m.Id" />
                                        </td>
                                        <td>
                                            @m.ProviderName
                                        </td>
                                        <td>
                                            <input type="text" class="form-control onUrl" id="@m.Id" value="@m.Url" />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control onIP" id="@m.Id" value="@m.Ip" />
                                        </td>
                                        @if (m.IsAvailable)
                                        {
                                            isSelect1 = "selected=\"selected\"";
                                            sColor = "bg-green";
                                        }
                                        else
                                        {
                                            isSelect2 = "selected=\"selected\"";
                                            sColor = "bg-red";
                                        }
                                        <td>
                                            <select class="form-control isAvailable @sColor" id="@m.Id" name="status">
                                                <option class="bg-green" value="1" @isSelect1>在线</option>
                                                <option class="bg-red" value="2" @isSelect2>下线</option>
                                            </select>
                                        </td>
                                        <td><input type="text" class="form-control onWeight" id="@m.Id" value="@m.Weight" /></td>
                                        <td>
                                            <input type="text" class="form-control onDescription" id="@m.Id" value="@m.Description" />
                                        </td>
                                    </tr>
                                }
                            }
                        </table>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
            <div class="col-xs-12">
                <div class="callout callout-success showCall">
                    <h4>Success!</h4>
                    <span id="callText"></span>
                </div>
            </div>
        </div>

    </section><!-- /.content -->
</div>



<script>
    $(function () {
        $('.showCall').hide();
        $('.onAllCb').bind('change', function () {
            if ($(this).is(':checked')) {
                $('.onCb').attr('checked', true);
                $('.onCb').parent().parent().addClass('info');
            } else {
                $('.onCb').removeAttr('checked');
                $('.onCb').parent().parent().removeClass('info');
            }
        });
        $('.onCb').bind('click', function () {
            if ($(this).is(':checked')) {
                $(this).parent().parent().addClass('info');
            } else {
                $(this).parent().parent().removeClass('info');
            }
        });
        $('.btnOnLine').bind('click', function () {
            var ids = new Array();
            $('.onCb:checked').each(function (i) {
                ids[i] = $(this).attr('id');
            });
        });
        $('.btnOffLine').bind('click', function () {

        });
        $('.onUrl').bind('change', function () {
            var id = $(this).attr('id');
            var url = $(this).select().val();
            $.post("/Provider/updateUrl/", { id: id, url: url }, function (data) {
                $('#callText').html('URL修改操作成功');
                $('.showCall').show(300).delay(2000).hide(300);
            });
        });
        $('.onIP').bind('change', function () {
            var id = $(this).attr('id');
            var IP = $(this).select().val();
            $.post("/Provider/updateIP/", { id: id, IP: IP }, function (data) {
                $('#callText').html('IP修改操作成功');
                $('.showCall').show(300).delay(2000).hide(300);
            });
        });
        $('.isAvailable').bind('change', function () {
            var id = $(this).attr('id');
            var select = $(this).select().val();
            $(this).removeClass('bg-green bg-red');
            if (select == 1) {
                $(this).addClass('bg-green');
            } else if (select == 2) {
                $(this).addClass('bg-red');
            }
            $.post("/Provider/OnOffLine/", { id: id, selected: select }, function (data) {
                $('#callText').html('上线/下线操作成功');
                $('.showCall').show(300).delay(2000).hide(300);
            });
        });
        $('.onWeight').bind('change', function () {
            var id = $(this).attr('id');
            var weight = $(this).val();
            $.post("/Provider/SetWeight/", { id: id, weight: weight }, function (data) {
                $('#callText').html('权值修改成功');
                $('.showCall').show(300).delay(2000).hide(300);
            });
        });
        $('.onDescription').bind('change', function () {
            var id = $(this).attr('id');
            var Description = $(this).select().val();
            $.post("/Provider/updateDescription/", { id: id, Description: Description }, function (data) {
                $('#callText').html('Description修改操作成功');
                $('.showCall').show(300).delay(2000).hide(300);
            });
        });
    });
</script>
